<!DOCTYPE HTML>
<html>

<head>
	<title>用户登录</title>
	<!-- Custom Theme files -->
	<link href="../static/css/login_style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="后台登录" />

</head>

<body>
	<!--header start here-->
	<div class="login-form">
		<div class="top-login">
			<span>
				<img src="../static/images/group.png" alt="" />
			</span>
		</div>
		<h1>用户登录</h1>
		<div class="login-top">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="login-ic">
					<i></i>
					<input type="text" name="logininfo" value="用户名或邮箱" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '用户名或邮箱';}"
					/>
					<div class="clear"> </div>
				</div>
				<div class="login-ic">
					<i class="icon"></i>
					<input type="password" name="password" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" />
					<div class="clear"> </div>
				</div>

				<div class="log-bwn">
					<input type="submit" value="登陆">
				</div>
			</form>
		</div>
	</div>
</body>

</html>