<!DOCTYPE html>
<html>

<head>
    <title>新用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">

    <link href="../static/css/bootstrap.css" rel="stylesheet" type='text/css' media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type='text/css' media="all" />
    <!-- /css -->
</head>

<body>
    <h1 class="w3ls">{{ errinfo }}</h1>
    <!-- /.modal -->
    <!-- js files -->
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/validator.min.js"></script>
    <!-- /js files -->
</body>

</html>
